

<div style="box-shadow: 3px 3px 3px 3px; background-color: #E5E5E5 ; border-radius: 25px;">
<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-commande-heading">Mettre à Jour</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" formControlName="client">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id === editForm.get('client')!.value?.id ? editForm.get('client')!.value : clientOption" *ngFor="let clientOption of clients; trackBy: trackById">{{ clientOption.numeroCnibClient }}</option>
                    </select>
                </div>




            <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="field_codeCommande">Code Commande</label>
                    <input type="text" class="form-control" name="codeCommande" id="field_codeCommande"
                           formControlName="codeCommande"/>
                </div>
            </div>
                <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="field_dateCommande">Date Commande</label>
                    <div class="input-group">
                        <input id="field_dateCommande" type="text" class="form-control" name="dateCommande" ngbDatepicker #dateCommandeDp="ngbDatepicker" formControlName="dateCommande"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateCommandeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="field_libelleCommande">Libelle Commande</label>
                    <input type="text" class="form-control" name="libelleCommande" id="field_libelleCommande"
                           formControlName="libelleCommande"/>
                </div>
                </div>
                <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="field_quantiteCommande">Quantite Commande</label>
                    <input type="number" class="form-control" name="quantiteCommande" id="field_quantiteCommande"
                           formControlName="quantiteCommande"/>
                </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="field_statusCommande">Status Commande</label>
                    <input type="checkbox" class="form-control" name="statusCommande" id="field_statusCommande"
                           formControlName="statusCommande"/>
                </div>
                </div>

                <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="field_montantVerseCommande">Montant Verse Commande</label>
                    <input type="number" class="form-control" name="montantVerseCommande" id="field_montantVerseCommande"
                           formControlName="montantVerseCommande"/>
                </div>
                </div>
            </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dateLivraison">Date Livraison</label>
                    <div class="input-group">
                        <input id="field_dateLivraison" type="text" class="form-control" name="dateLivraison" ngbDatepicker #dateLivraisonDp="ngbDatepicker" formControlName="dateLivraison"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateLivraisonDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>


            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
        <br>
        <br>
    </div>
</div>
</div>