


<div style="box-shadow: 2px 2px 2px 2px; background-color: #dfc2c2 ; border-radius: 25px;">
<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-facture-heading">Mettre à Jour</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

            <div class="row">
                <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="field_numeroFacture">Numero Facture</label>
                    <input type="text" class="form-control" name="numeroFacture" id="field_numeroFacture"
                           formControlName="numeroFacture"/>
                </div>
                </div>
               <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="field_libelleFacture">Libelle Facture</label>
                    <textarea class="form-control" name="libelleFacture" id="field_libelleFacture"
                              formControlName="libelleFacture"></textarea>
                </div>
            </div>
            </div>


            <div class="row">
                <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="field_prescipteurFacture">Prescipteur Facture</label>
                    <input type="text" class="form-control" name="prescipteurFacture" id="field_prescipteurFacture"
                           formControlName="prescipteurFacture"/>
                </div>
                </div>
                <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="field_commande">Commande</label>
                    <select class="form-control" id="field_commande" name="commande" formControlName="commande">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="commandeOption.id === editForm.get('commande')!.value?.id ? editForm.get('commande')!.value : commandeOption" *ngFor="let commandeOption of commandes; trackBy: trackById">{{ commandeOption.codeCommande }}</option>
                    </select>
                </div>
                </div>
            </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_article">Article</label>
                    <select class="form-control" id="field_article" name="article" formControlName="article">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="articleOption.id === editForm.get('article')!.value?.id ? editForm.get('article')!.value : articleOption" *ngFor="let articleOption of articles; trackBy: trackById">{{ articleOption.codeArticle }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
            <br>
            <br>
        </form>
    </div>
</div>
</div>