<div>
    <!--h1> <span>Articles</span> </h1>
    <br-->
    <div style="background-color: #0070c0;color: white;">
        <!--span class="span1">Arretes</span-->
      <br>
      
    </div>
    <br>

    <h2 id="page-heading">

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-article" [routerLink]="['/facture/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Nouveau
            </span>
        </button>

        <button id="jh-create-entity" class="btn btn-primary float-left jh-create-entity create-article" [routerLink]="['/facture/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Connu
            </span>
        </button>
    </h2>
<br>
<br>
    <!--span>Rechercher Article</span> <input type="text" [(ngModel)]="filter" class="form-control"-->
    
   
 <span>Rechercher</span> <input type="text" [(ngModel)]="filter" class="form-control">

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="factures?.length === 0">
        <span>No factures found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="factures && factures.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <!--th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th-->
                    <th scope="col"  jhiSortBy="numeroFacture"><span>Numero </span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleFacture"><span>Libelle </span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prescipteurFacture"><span>Prescipteur </span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commande.codeCommande"><span>Commande</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="article.codeArticle"><span>Article</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let facture of factures | pureFilter:filter:'numeroFacture'">
                    <!--td><a [routerLink]="['/facture', facture.id, 'view']">{{ facture.id }}</a></td-->
                    <td>{{ facture.numeroFacture }}</td>
                    <td>{{ facture.libelleFacture }}</td>
                    <td>{{ facture.prescipteurFacture }}</td>
                    <td>
                        <div *ngIf="facture.commande">
                            <a [routerLink]="['/commande', facture.commande?.id, 'view']" >{{ facture.commande?.codeCommande }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="facture.article">
                            <a [routerLink]="['/article', facture.article?.id, 'view']" >{{ facture.article?.codeArticle }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/facture', facture.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/facture', facture.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(facture)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="factures && factures.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
